.test {
  position: absolute;
  left: 33%;
  top: 10%;
}

#particles-js {
  margin: 0;
  height: 950px;
}

:root {
  --bg-color: #263343;
  --typewriterSpeed: 1s;
  --typewriterCharacters: 6;
}

section {
  display: grid;
  place-content: center;
  opacity: 0;
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 0.5s) forwards;
}

ul {
  list-style: none;
  margin: 0;
  display: inline-flex;
}

li {
  display: inline;
  padding: 25px;
}

.buttonClass {
  letter-spacing: 2px;
  text-decoration: none;
  display: grid;
  place-content: center;
  font-size: 17px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width:140px;
  height:50px;
  border-width:0px;
  color:#fff;
  border-color:#ffffff;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  box-shadow:inset 0px 0px 25px 8px #ffffff;
  text-shadow:inset 0px 0px 0px #ffffff;
  background:linear-gradient(#263343, #263343);
}

.buttonClass:hover {
  background: linear-gradient(#6c7c7c, #768d87);
}
      

.subtitle {
  letter-spacing: 4px;
  position: absolute;
  left: 24%;
  top: 116%;
  display: grid;
  place-content: center;
  color: #EBF3F2;
  font-size: 25px;
  font-weight: 100;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 0.5s) forwards;
}

body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: grid;
  text-align: center;
  background: var(--bg-color);
  color: #EBF3F2;
  font-weight: 100;
}

h1 {
  font-size: 125px;
  position: relative;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  width: max-content;
  letter-spacing: 50px;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 0.25s forwards;
}

h1::after {
  width: 0.125em;
  background: #EBF3F2;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 0.25s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}


@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


